<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>

    <body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">

        <div style="text-align: center; margin-top: 50px;">
            <h1> Welcome to my Algerian Forest Fire Web Application </h1>

            <a href="{{ url_for('home') }}" style="font-size: 20px; color: #4CAF50; text-decoration: none; padding: 10px; background-color: #f8f9fa; border-radius: 5px; border: 1px solid #ddd;">

                Prediction Page</a>
                
        </div>
    </body>
</html>